<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CRMCAM.Sitecore.CrmCampaignIntegration" version="2.2.0" targetFramework="net452" />
  <package id="CRMSEC.CRMSecurityProvider" version="2.3.2" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.4" targetFramework="net452" />
  <package id="WFFM" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.MSCaptcha" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.Forms.Core" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.Forms.Custom" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.Forms.Mvc" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.WFFM" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.WFFM.Abstractions" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.WFFM.Actions" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.WFFM.Analytics" version="8.2.0" targetFramework="net452" />
  <package id="WFFM.Sitecore.WFFM.Services" version="8.2.0" targetFramework="net452" />
</packages>